<section class="content__section">
  <h2 class="content__title">Información del Perfil</h2>
  <p class="content__text">Soy Jonathan, proximo desarrollador web apasionado por el diseño y la tecnología.</p>
  <ul class="content__list">
    <li class="content__item"><strong>Edad:</strong> 21 años</li>
    <li class="content__item"><strong>Ciudad:</strong> Cali, Colombia</li>
    <li class="content__item"><strong>Estudios:</strong> Ingeniería de Sistemas</li>
    <li class="content__item"><strong>Hobbies:</strong> Videojuegos, música, senderismo</li>
  </ul>
</section>